.title {
  text-align: center;
  margin: 8px 0;
}

.info {
  text-align: center;
  margin: 8px 0;
  color: var(--text-color-secondary);
}

.linkContainer {
  display: flex;
  justify-content: center;
}
