.listItem {
  padding: 8px 0;
}

.listItem:not(:last-child) {
  border-bottom: 1px dashed var(--divider-color);
}

.date {
  font-size: 0.6rem;
  text-transform: uppercase;
}

.title {
  margin: 4px 0;
}

.description {
  margin: 4px 0;
  color: var(--text-color-secondary);
}

.linkContainer:not(:last-child)::after {
  content: "•";
  padding: 0 4px;
  color: var(--divider-color);
  font-size: 0.6rem;
  line-height: 0.6rem;
  vertical-align: middle;
}
